* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

#principal {
    background-color: #FFFFFF;
}
.subtitulo{
    font-family: 'Times New Roman', Times, serif;
}

#header {
    display: flex;
    background-color: rgb(75, 193, 100);
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url("imagenes/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.boton-menu{
    margin-right: 10px;
}
.boton-menu>button>a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.3;
    text-align: center;
    padding-top: 1px;
    
}

.boton-menu:hover {
    transition-duration: 0.5s;
    background-color: rgba(212, 146, 39, 0.775);
    color: #FFFFFF;  
    border-radius: 4px;
}

#logo{
    padding-left: 10px;
}
#logo>img{
    width: 150px;
}
#navbar {
    background-color: rgba(201, 135, 28, 0.892);
    display: flex;
    justify-content: space-around;
}

#navbar>button>a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.3;
}

#contenido {
    display: flex;
    margin: 2%;
    flex-wrap: wrap;

}

#catalogo-prod{
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.card{
    background-color: rgba(212, 146, 39, 0.775);
    display: flex;
    margin: 2%;
    justify-content: space-around;
}

#cabezera {
    position: sticky;
    top: 0;
}

#carrito-modal {
    margin-right: 10px;
}

.modal-title{
    color: #000;    
}



#iniciosesion-modal {
    margin-right: 10px;
    transition-duration: 0.5s;

}

#registro-modal {
    margin-right: 10px;
    transition-duration: 0.5s;

}

#boton-inicio {
    margin-right: 10px;
    transition-duration: 0.5s;

}
#boton-prod {
    margin-right: 10px;
    transition-duration: 0.5s;

}

#boton-Suscripcion {
    margin-right: 10px;
    transition-duration: 0.5s;

}

#modals {
    display: flex;
    justify-content: space-around;
}
#carrusel{
    padding-top: 1%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0),
    rgba(0,0,0,0.0)),
    url("imagenes/fondo3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#carrusel h1 {
    background-color: #00000070;
}

#carrusel p {
    background-color: #00000070;
}


.login h5 {
    margin: 0;
    text-align: end;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.controls {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;

    font-size: 14px;
    font-weight: bold;
}

.but {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
}

.login>p {
    height: 40px;
    margin-right: 2px;
    text-align: center;
    border-bottom: 1px solid;
}

.login>a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.login {
    width: 400px;
    height: 300px;
    background: rgb(198, 136, 36) ;
    margin: auto;
    margin-top: 100px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px lightskyblue;
    color: white;
    border-radius: 10px;
}

.login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.xd {
    width: 94%;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
}

.button {
    width: 100%;
    height: 40px;
    background: a;
    border: none;
    color: rgb(255, 255, 255);
    margin-bottom: 16px;
    border-radius: 4px;
}

.login p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.login2 {
    color: rgb(0, 0, 0);
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}



.controls {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;

    font-size: 14px;
    font-weight: bold;
}

.but {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
    border-radius: 4px;
}

/* .Register>p {
    height: 20px;
    text-align: center;
    border-bottom: 1px solid;
} */

.login>a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.Register {
    width: auto;
    height: auto;
    background: rgb(198, 136, 36);
    margin: auto;
    margin-top: 100px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px lightskyblue;
    color: white;
    border-radius: 10px;
}

.Register h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.Register2 {
    color: rgb(0, 0, 0);
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}
.subtitulo{
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.subtitulo h5{
    padding-top: 30px 30px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitulo .sub{
    margin: 1%;
}


#piepagina{
    margin-top: 10px;
    background-color: rgba(201, 135, 28, 0.892) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}



#crud-prod {
    padding-top: 0.2%;
    background-color: white;
    padding-bottom: 20%;
    margin: 2%;
}

#botones-crud {
    display: flex;
    justify-content: space-around;
}
#botones-crud>button{
    margin: 5px;
    font-size: 1.1;
}

#botones-crud>button>a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.1;

}

#crud-prom {
    padding-top: 0.2%;
    background-color: white;
    padding-bottom: 10%;
    margin: 2%;
}



#form-crud-prom .buttons-prom{
    display: flex;
    justify-content: space-around;  

}

#crud-prom h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#ver-compras{
    padding-top: 0.2%;
    background-color: white ;
    padding-bottom: 10%;
    margin: 2%;
}

#ver-compras h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-footer>button>a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.3;
}

/* estilo de los formularios */
.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario-label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario-grupo-input {
	position: relative;
}

.formulario-input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario-input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario-input-error{
    font-size: 12px;
    margin-bottom: 0px;
    display: none;
}

.formulario-input-error-activo{
    display: block;
}

.formulario-validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario-checkbox {
	margin-right: 10px;
}


.formulario-grupo-terminos, 
.formulario-mensaje,
.formulario-grupo-btn-enviar {
	grid-column: span 2;
}

.formulario-mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario-mensaje-activo {
	display: block;
}

.formulario-mensaje p {
	margin: 0;
    font-size: 15px;
}

.formulario-grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.formulario-btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
    margin-bottom: 5px;
}

.formulario-btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario-mensaje-exito {
    margin-top: 10px;
	font-size: 18px;
	color: #119200;
	display: none;
    background-color: #FFFFFF;
    
}

.formulario-mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario-grupo-correcto .formulario-validacion-estado {
	color: #1ed12d;
	opacity: 1;
    
}
.formulario-grupo-correcto .formulario-label {
	color: #1ed12d;
}

.formulario-grupo-correcto .formulario-input {
	border: 3px solid #1ed12d;
}

.formulario-grupo-incorrecto .formulario-label {
	color: #bb2929;
}

.formulario-grupo-incorrecto .formulario-validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario-grupo-incorrecto .formulario-input {
	border: 3px solid #bb2929;
}

.modal-content{
    width: auto;
}


@media (max-width: 1075px){
    #header{
        flex-direction: column;

    }
    #menu{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}


@media (max-width: 650px){
    #modals{
        text-decoration: none;
        font-size: 1.3;
        padding-top: 1px;
        display: flex; 
        color: black; 
        flex-direction: column !important; 
        justify-content: center;
        text-align: center;
    }
    #logo{
        display: flex;
        justify-content: center;
        width: 50%;
    }
    button>a{
        color: #FFFFFF;
        text-decoration: none;
        font-size: 1.3;
        display: flex;
        text-align: center;
        align-items: center;
        width: 100%;
        
    }
    .contenido{
        display: none;
    }
    .card{
        display: flex;
        justify-content: center;
        margin:auto;
        margin-bottom: 5%;

    }
    .carousel-item #carousel-caption{
        background-color: #00000070;
        width: 10px;
        height: auto;
    }
    
    #carrusel p {
        background-color: #00000070;
    }
    #navbar{
        display: flex;
        flex-direction: row;
        padding-bottom: 2%;
    }
    .subtitulo{
        margin: 3%;
    }
    #catalogo-prod{
        display: flex;
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .subtitulo .sub{
        margin: 3%;
    }
    .rrss>a p{
        display: none;
    }
    #redes .rrss{
        margin-right: 0;
        
        
    }
}

.navbar button{
    color: #FFFFFF;
}

#boton-filtro{
    margin-left: 5%;
    margin-top: 2%;
}
#boton-filtro>button>a{
    text-decoration: none;
    color: black;
}
#boton-filtro select{
    background-color: rgb(201, 135, 28);
    width: 150px;
}
#catalogo-prod h2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.boton-subs {
    display: flex;
    justify-content: center;
    
}

.boton-subs>button{
    width: 300px;
    height: 70px;
    font-size: 2em;
    border-radius: 10px;
}

.modal-footer h5{
    color: #000;
}

.rrss>a{
    text-decoration: none;
    color: #000;
    
}

#redes{
    display: flex;
    justify-content: center;
    background-color: rgba(201, 135, 28, 0.892);

}
#redes .rrss{
    width: 80px;
    display: inline;
    margin-right: 15px;
    flex-direction: row;
    text-align: center;
    
    
}
#redes .rrss:hover{
    transition: 0.5s;
    background-color: rgba(189, 130, 37, 0.775);
    color: #FFFFFF;
}

#redes .rrss:hover p{
    transition: 0.5s;
    color: #FFFFFF;
}

#navbar .boton-menu{
    margin-top: 8px;
}









